#item-info-table > thead > tr > th,
#item-info-table > tbody > tr > td {
	text-align: right;
}

#item-info-table > thead > tr > th:first-child,
#item-info-table > tbody > tr > td:first-child {
	text-align: left;
}

body {
	margin: 1em;
}

th .popover {
	font-weight: normal;
	text-align: left;
}

th .popover > span {
	cursor: help;
	border-bottom: 1px dotted black;
}

th .popover .popover-container {
	left: -10em;
	top: 15em;
}

.github-fork-ribbon {
	top: -1em !important;
	right: -1em !important;
}